---
import Section from "@/components/shared/Section.astro"
---

<Section title="About Me">
  <div class="flex flex-col lg:flex-row gap-8 items-center">
    <p class="max-w-prose">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam
      praesentium ullam iste voluptate voluptatem rem, ea deleniti harum
      molestiae impedit. Necessitatibus impedit saepe corporis numquam nam
      eligendi a sapiente nemo.
    </p>
    <p class="max-w-prose">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam
      praesentium ullam iste voluptate voluptatem rem, ea deleniti harum
      molestiae impedit. Necessitatibus impedit saepe corporis numquam nam
      eligendi a sapiente nemo.
    </p>
  </div>
</Section>
