---
import Section from "@/components/shared/Section.astro"
---

<Section title="Contact Me">
  <div class="flex flex-col lg:flex-row gap-8 items-center">
    <div class="bg-zinc-950 py-32 px-20 rounded-[40%] rounded-tl-3xl">
      <p class="max-w-prose font-medium">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam
        praesentium ullam iste voluptate voluptatem rem, ea deleniti harum
        molestiae impedit. Necessitatibus impedit saepe corporis numquam nam
        eligendi a sapiente nemo.
      </p>
    </div>

    <div class="bg-zinc-950 py-32 px-20 rounded-[40%] rounded-br-3xl">
      <p class="max-w-prose font-medium">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam
        praesentium ullam iste voluptate voluptatem rem, ea deleniti harum
        molestiae impedit. Necessitatibus impedit saepe corporis numquam nam
        eligendi a sapiente nemo.
      </p>
    </div>
  </div>
</Section>
