---
import Section from "@/components/shared/Section.astro"
import ProjectCard from "@/components/shared/ProjectCard.astro"
---

<Section title="My Projects">
  <div class="grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] gap-12">
    <ProjectCard
      imageSrc="https://picsum.photos/400"
      title="TailwindHub"
      description="Lorem ipsum dolor sit amet consectetur adipisicing elit."
    />
    <ProjectCard
      imageSrc="https://picsum.photos/400"
      title="TailwindHub"
      description="Lorem ipsum dolor sit amet consectetur adipisicing elit."
    />
    <ProjectCard
      imageSrc="https://picsum.photos/400"
      title="TailwindHub"
      description="Lorem ipsum dolor sit amet consectetur adipisicing elit."
    />
    <ProjectCard
      imageSrc="https://picsum.photos/400"
      title="TailwindHub"
      description="Lorem ipsum dolor sit amet consectetur adipisicing elit."
    />
    <ProjectCard
      imageSrc="https://picsum.photos/400"
      title="TailwindHub"
      description="Lorem ipsum dolor sit amet consectetur adipisicing elit."
    />
    <ProjectCard
      imageSrc="https://picsum.photos/400"
      title="TailwindHub"
      description="Lorem ipsum dolor sit amet consectetur adipisicing elit."
    />
    <ProjectCard
      imageSrc="https://picsum.photos/400"
      title="TailwindHub"
      description="Lorem ipsum dolor sit amet consectetur adipisicing elit."
    />
    <ProjectCard
      imageSrc="https://picsum.photos/400"
      title="TailwindHub"
      description="Lorem ipsum dolor sit amet consectetur adipisicing elit."
    />
  </div>
</Section>
